img {
  display: block;
  max-width: 100%;
  display: block;
  max-width: 100%;
  height: 100%;
  margin: auto;  
}

.mg_wrapper {
  /*set the width to 100%*/
  /*Also set a max-width so the pics don't pixelate*/
  /*margin*/
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;  

}

.mg_contents {
/*  Must have a set position
  must have padding to accomodate absolute elements*/
  position: relative;
  padding-bottom: 50%;  
}


/* game_level-1 styles */
.mg_tile {
  /*Set the width of each element*/
  /*Set the height of each element*/
  height: 50%;
  width: 25%;
  padding: 5px;  
  box-sizing: border-box;    
}

/*Each element needs top % and left % so it appears in the right slot. The second one is done for you.*/
.mg_tile {
  float: left;  
}

.mg_tile-inner {
  /*The inner must have a position to accomodate the inside and outside elements*/
  /*Height and width must be counter-set*/
  /*Make the mouse a hand when over the tile*/
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;  
}

.mg_tile-outside,
.mg_tile-inside, .mg_tile-inside-matched {
  /*position must be set*/
  /*top and left must be set*/
  /*height and width must be set*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

.mg_tile-outside {
  /*Must use the background element and set the background to  ../img/default/logo-bw.png */
  /*Change the bg color so it's obviously not turned over*/
  /*set the width*/
  /*set a default display ... this must be different than .mg_tile-inside*/
  background: url("../img/default/logo-bw.png") 50% 50% no-repeat;
  background-color: #dcdee1;
  box-shadow: 0 0 0 1px #787a80;
  height: 100%;
  width: 100%;
  display: block;
}

.mg_tile-inside, .mg_tile-inside-matched {
  /*set a bg-color*/
  /*set a default display ... this must be different than .mg_tile-outside*/
  background-color: #f8fafc;
  box-shadow: 0 0 0 1px #787a80;
  height: 100%;
  width: 100%;
  display: none;  
}

.dropped{
-moz-transform: translateY(300px) rotateZ(120deg); /* rotate, translate, and disappear */
-webkit-transform: translateY(300px) rotateZ(120deg);
transform: translateY(300px) rotateZ(120deg);
opacity: 0;
-moz-transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-ms-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;  
}




